streamlit
pandas
numpy
plotly
scikit-learn
xgboost
openai
google-generativeai
sqlalchemy
psycopg2-binary
pymongo
speechrecognition
pyaudio
fpdf
pyjwt
bcrypt
joblib
streamlit-option-menu
streamlit-lottie
ydata-profiling